upstream puppetboard {
    server 127.0.0.1:9090;
}

server {
    listen      80;
    server_name {{ inventory_hostname }};
    charset     utf-8;

    location /static {
        alias /usr/lib/python2.7/site-packages/puppetboard/static;
    }

    location / {
        uwsgi_pass puppetboard;
        include    /etc/nginx/uwsgi_params;
    }
}
