[Unit]
Description=PuppetBoard uWSGI
After=puppetdb.service

[Service]
Type=simple
User=uwsgi
Group=uwsgi
WorkingDirectory=/var/www/puppetboard
ExecStart=/usr/sbin/uwsgi --socket :9090 --ini /var/www/puppetboard/wsgi.py -p {{ ansible_processor_vcpus }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
